.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  font-family: var(--font);
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  padding-block: 100px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left p {
  line-height: 1.5rem;
  max-width: 90%;
}

.searchBar {
  width: 400px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right .music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .music .title {
  font-size: 1.2rem;
  font-weight: 900;
}

.playerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.section {
  width: 100%;
  font-family: var(--font);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.musicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1rem;
  width: 100%;
}

.artistList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
