.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  font-family: var(--font);
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left p {
  line-height: 1.5rem;
  max-width: 90%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right .music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .music .title {
  font-size: 1.2rem;
  font-weight: 900;
}

.right .player img {
  width: 100%;
  height: auto;
}

.newReleases {
  width: 100%;
  font-family: var(--font);
  padding: 2rem;
}

.musicGrid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1rem;
  width: 100%;
}
