.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 1rem;

}

.inputGroup{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.remember{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}