.container {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 2rem;
}

.leftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 0;
  max-height: 85vh;
}

.rightContainer .trackCard {
  height: 80%;
}

.rightContainer .playlistCard {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 20%;
}

.rightContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer .title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightContainer .title h2 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.rightContainer .playlistList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.playlistItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .rightContainer {
    position: static;
    max-height: none;
  }
}
