.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.leftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* overflow-y: auto; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  max-height: 85vh;
}
