.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: relative;
}

.leftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* overflow-y: auto; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid green;
  position: sticky;
  top: 0;
  max-height: 85vh;
  /* overflow-y: auto; */
}

.rightContainer div {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}
