.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font);
}

.formHeader {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.subtitle {
  font-size: 1rem;
  color: white;
}
