.container {
    /* display: flex; */
    /* padding: 20px; */
    align-items: left;
    padding: 0 0 10px;
    width: 100%;
    
}
.form {
    display: flex;
    flex-direction: column;
   

}
.title {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.subtitle {
    font-size: 0.8rem;
    color: white;
}