.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font);
  gap: 1.5rem;
}

.formHeader {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.subtitle {
  font-size: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .form {
    gap: 1rem;
  }
}
