.container {
    /* display: flex; */
    /* padding: 20px; */
    align-items: left;
    padding: 0 0 20px;
    
}
.form {
    display: flex;
    flex-direction: column;
   

}
.title {
    font-size: 1.5rem;
    font-weight: 600;
}