.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.songList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

.searchBar {
  margin-bottom: 16px;
  width: 100%;
}
