.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  color: white;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}


.profileInfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.profileInfoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileActions{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sectionTitle{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.noTracks{
    color: white;
    font-size: 14px;
    font-style: italic;
}
.trackCard{
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    color: white;
    gap: 12px;
    padding: 12px ;
}
.trackInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.trackCard img{
    width: 50px;
    height: auto;
    border-radius: 8px;
}

.tracksContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}