.playContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: relative;
}

.leftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* overflow-y: auto; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nowPlaying {
  display: flex;
  align-items: center;
  border-radius: 8px 0 0 8px;
  height: 400px;
  gap: 1rem;
  padding: 2rem;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.9) 80%
    ),
    url("../../assets/money-album.jpg") center/cover no-repeat;
  color: white;
  backdrop-filter: blur(5px);
  font-family: var(--font);
}

.nowPlayingDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
}

.nowPlayingPlayer {
  flex: 1;
}

.nowPlayingPlayer img {
  width: 90%;
}

.nowPlayingActions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nowPlayingActions .icons {
  color: #dbe9e1;
}
.nowPlayingActions .icons:hover {
  color: white;
  cursor: pointer;
}

.featuredArtists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font);
}

.featuredArtists h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.artistList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid green;
  position: sticky;
  top: 0;
  max-height: 85vh;
  /* overflow-y: auto; */
}

.rightContainer div {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}
