.playContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: 1px solid red;
}

.leftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid blue;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid green;
}

.featuredArtists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font);
}

.featuredArtists h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.artistList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
