.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.perksList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perkItem{
    display: flex;
    align-items: flex-start;
    gap: 14px;

}

.title{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0 0 2px;
}

.description{
    font-size: 16px;
    color: #ccc;
    margin: 0;
    font-weight: 300;
}