.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  min-width: 400px;
  padding: 0.75rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.searchBarContainer input {
  width: 300px;
  border: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  outline: none;
}

.searchBarContainer input::placeholder {
  color: #6f6f6f;
}

.searchBarContainer input:focus {
  background: transparent;
}

@media (max-width: 768px) {
  .searchBarContainer {
    min-width: auto;
    width: 100%;
  }

  .searchBarContainer input {
    width: 100%;
  }
}
