.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  width: 400px;
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.searchBarContainer input {
  width: 300px;
  border: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  outline: none;
}

.searchBarContainer input::placeholder {
  color: white;
}

.searchBarContainer input:focus {
  background: transparent;
}
