.header {
  padding: 20px;

}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 20px;
  /* gap: 20px; */

}

.logo {
  color: black;
    font-size: 1.5em;
}
