.header {
  position: fixed;
  width: 85%;
  margin: auto;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.logo {
  color: white;
  font-size: 1.5em;
}
