.sidebar {
  background-color: rgb(18, 18, 18);
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar div {
  height: inherit;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.icon:hover {
  color: var(--color-primary);
}
