.sidebar {
  background-color: rgb(18, 18, 18);
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar div {
  height: inherit;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.icon:hover {
  color: var(--color-primary);
}

.active .icon {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 60px;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .sidebar div {
    flex-direction: row;
    height: 100%;
    gap: 0;
    justify-content: space-around;
  }

  .icon {
    font-size: 1.5rem;
  }
}
