.mainContainer {
  position: relative;
  padding: 100px 150px;
}

.contentContainer {
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
