.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.contentContainer {
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 7rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  .mainContainer {
    width: 95%;
  }

  .contentContainer {
    padding-bottom: 9rem;
  }
}
