* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif serif;
}

:root {
  --color-primary: #638cfe;
  --color-secondary: #17dcf5;
  --color-background: #f8f9fa;
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/background.png") center/cover no-repeat;
}
